.main-image-container img {
    max-width: 500px;
    height: auto;
  }
  
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-size-adjust: flex;
  }
  