.upload-section {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 300px;
  }
  
  .upload-section p {
    margin: 10px 0;
  }
  
  #description {
    resize: none;
  }
  
  .increase-width {
    width: 300px; /* 원하는 너비로 조정하세요 */
}

.increase-height {
    height: 300px; /* 필요한 경우 높이를 조정하세요 */
}


.form-control {
  height: 200px;
}