.big-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 0 100px; /* 양쪽으로 100px만큼 떨어지도록 설정 */
}

.big-contents-item {
  width: 100%;
  height: auto;
}

.big-contents-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* 이미지를 비율에 맞게 잘라냅니다 */
}
